<!DOCTYPE html>
<html>

<head>
    <title>Security app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav class="navigation unsecure">
            <a href="/unsecure" style="color: white; text-decoration: none;">
                <h1>Security app (unsecure)</h1>
            </a>
            <div class="button-container">
                <form action="/" method="get">
                    <input type="submit" value="Go to secure version" class="button">
                </form>
                <form action="/auth/logout" method="post">
                    <input type="submit" value="Logout" class="button">
                </form>
            </div>
        </nav>
    </header>

    <h1>Hello <%=username%></h1>

    <form action="/content/unsecure/create" method="post">
        <label for="value">Enter Text:</label>
        <input type="text" id="value" name="value">
        <input type="submit" value="Submit">
    </form>

    <% for(let i of content) { %>
        <div><%= i.value %></div>
    <% } %>
</body>
</html>