<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

<body>
  <header>
    <nav class="navigation unsecure">
        <a href="/" style="color: white; text-decoration: none;">
            <h1>Security app (unsecure)</h1>
        </a>
        <div class="button-container">
            <form action="/login" method="get">
                <input type="submit" value="Go to secure version" class="button">
            </form>
            <form action="/login" method="get">
                <input type="submit" value="Log in" class="button">
            </form>
            <form action="/register" method="get">
                <input type="submit" value="Register" class="button">
            </form>
    </nav>
</header>
<form action="/auth/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
    <a href="/register">Don't have an account? Register!</a>
</form>
</body>