<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

<body>
  <header>
    <nav class="navigation">
        <a href="/" style="color: white; text-decoration: none;">
            <h1>Security app</h1>
        </a>
        <div class="button-container">
            <form action="/login" method="get">
                <input type="submit" value="Log in" class="button">
            </form>
            <form action="/register" method="get">
                <input type="submit" value="Register" class="button">
            </form>
    </nav>
</header>
<form action="/auth/login" method="post" class="form">
  <div class="form-element">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>

  <div class="form-element">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>

    <button type="submit" class="button-reverse form-element">Login</button>

    <div class="form-element">
      <label>
        <input type="checkbox" id="enableLoginAttack" name="enableLoginAttack">
        Enable Login Attack
      </label>
    </div>

    <div class="form-element">
      <label>
        <input type="checkbox" id="enableInjection" name="enableInjection">
        Enable Injection
      </label>
    </div>
</form>
<script>
  // This script will handle the server's response and show an alert
  if ("<%= message %>") {
      alert("Message data is: <%= message %>");
  }
</script>
</body>