<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

<body>
  <header>
    <nav class="navigation">
        <a href="/" style="color: white; text-decoration: none;">
            <h1>Security app</h1>
        </a>
        <div class="button-container">
            <form action="/login" method="get">
                <input type="submit" value="Log in" class="button">
            </form>
            <form action="/register" method="get">
                <input type="submit" value="Register" class="button">
            </form>
    </nav>
</header>
<form action="/auth/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Register</button>
    <a href="/login">Already have an account? Log in!</a>

</form>
</body>